﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" media="all">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="/js/site.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/jquery.multi-select.min.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
