﻿
<template id="StudentFormTemplate">
    <div class="modal fade" ref="StudentFormModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Ogrenci Form
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-column w-75">
                            <div class="form-group">
                                <label for="name"><span class="text-danger">*</span> Ad Soyad</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="specialty"><span class="text-danger">*</span> Bolum</label>
                                <select class="form-control" id="specialty" v-model="SelectedSpeciality">
                                    <option value="">lutfen birini secin</option>
                                    <option v-for="specialty in Specialties" :value="specialty.name">{{specialty.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hobbies"><span class="text-danger">*</span> Hobiler</label>
                                <input type="text" class="form-control" readonly id="hobbies" v-on:click="ShowHobbiesDropDown=true">
                                <div v-if="ShowHobbiesDropDown===true" class="border">
                                    <div v-for="(hoby,i) in Hobbies" class="m-2 p-2 hoby-item cursor-pointer" v-bind:class="{'bg-primary':SelectedHobbies.includes(hoby.name),'text-white':SelectedHobbies.includes(hoby.name)}" v-on:click="UpdateSelectedHobbies(hoby)">
                                        <span class="">{{hoby.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="class-teacher"><span class="text-danger">*</span> Sinif Ogretmeni</label>
                                <select class="form-control" id="class-teacher" v-model="SelectedClassTeacher">
                                    <option value="">lutfen birini secin</option>
                                    <option v-for="classTeacher in ClassTeachers" :value="classTeacher.name">{{classTeacher.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="lead-teacher"><span class="text-danger">*</span> Rehber Ogretmeni</label>
                                <select class="form-control" id="lead-teacher" v-model="SelectedLeadTeacher">
                                    <option value="">lutfen birini secin</option>
                                    <option v-for="leadTeacher in LeadTeachers" :value="leadTeacher.name">{{leadTeacher.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="SubmitUserHealthInfo" v-bind:disabled="SubmitStudentLoading || CheckFormValidation()===false">
                        Kaydet
                        <i v-if="SubmitStudentLoading" class="spinner spinner-border text-light"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" v-on:click="Hide">Vazgec</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    Vue.component('CreateStudentForm',
        {
            props: ['hobbies', 'specialties', 'classteachers', 'leadteachers'],
            data: function () {
                return {
                    Hobbies:this.hobbies,
                    Specialties: this.specialties,
                    ClassTeachers: this.classteachers,
                    LeadTeachers: this.leadteachers
                }
            },
            created() {

            },
            mounted() {

            },
            methods: {
                Show() {
                    $(this.$refs.StudentFormModal).modal({ backdrop: 'static', keyboard: false });
                    $(this.$refs.StudentFormModal).modal('show');
                },
                Hide() {
                    $(this.$refs.StudentFormModal).modal('hide');
                }
            },
            template: '#StudentFormTemplate'
        })
</script>
