﻿@{
    ViewData["Title"] = "Students List";
}

<div class="alert alert alert-info">
    <h1>Fika Yazilim Mulakat Projesi</h1>
</div>
<div class="container" id="StudentsListTemplate">
    <div class="text-end">
        <button class="btn btn-primary" v-on:click="ShowAddStudentModal">yeni Ogrenci</button>
    </div>
    <div class="row mt-2">
        <div class="col-lg-9 mb-5">
            <div class="border border-radius-5">
                <div class="text-dark m-2">
                    <h4>ogrenci listesi</h4>
                </div>
                <div class="border border-radius-5 m-3">
                    <div class="text-dark m-2">
                        <h4>Filtre</h4>
                    </div>
                    <div class="row m-2">
                        <div class="col-md-3">
                            <input type="text" v-model="SearchQuery" class="form-control" placeholder="Ad ve Soyad la ara" />
                        </div>
                        <div class="col-md-3 position-relative">
                            <input type="text" class="form-control" readonly id="filter-hobbies" v-on:click="FilterShowHobbiesDropDown=true" placeholder="hobiler">
                            <button v-if="FilterShowHobbiesDropDown===true" class="btn btn-close multi-select-close" v-on:click="FilterShowHobbiesDropDown=false"></button>
                            <div v-if="FilterShowHobbiesDropDown===true" class="border position-absolute w-100" style="background-color: white">
                                <div v-for="(hoby,i) in Hobbies" class="m-2 p-2 hoby-item cursor-pointer" v-bind:class="{'bg-primary':FilterSelectedHobbies.includes(hoby),'text-white':FilterSelectedHobbies.includes(hoby)}" v-on:click="UpdateFilterSelectedHobbies(hoby)">
                                    <span class="">{{hoby.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="filter-class-teacher" v-model="FilterSelectedClassTeacher">
                                <option value="">Sinif Ogretmeni</option>
                                <option v-for="classTeacher in ClassTeachers" :value="classTeacher.name">{{classTeacher.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success w-100" v-on:click="Search">Ara</button>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Bolum</th>
                                <th>Hobiler</th>
                                <th>Sinif Ogretmen</th>
                                <th>Rehber Ogretmen</th>
                                <th>Islem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="StudentsList.length===0">
                                <td colspan="6" class="text-center">Henuz Kimse kayit yapmadi...</td>
                            </tr>
                            <tr v-else v-for="student in StudentsList">
                                <td>{{student.fullName}}</td>
                                <td>{{student.specialty}}</td>
                                <td>{{GetHobbiesNames(student.hobbies)}}</td>
                                <td>{{student.classTeacher}}</td>
                                <td>{{student.leadTeacher}}</td>
                                <td>
                                    <button class="btn btn-warning" :id="'detail-button-'+student.studentId" v-on:click="ShowStudentDetails(student)">Detai</button>
                                    <button class="btn btn-danger" v-on:click="ShowDeleteStudentModal(student)">Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <ul class="pagination">
                            <li v-for="page in Pages" class="border p-2 cursor-pointer" v-bind:class="{'bg-primary':ActivePage===page,'text-white':ActivePage===page}" v-on:click="GetStudents(page)">{{page}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 border border-radius-5 mb-5">
            <div class="text-center">
                <h4>Ogrenci Form</h4>
            </div>
            <form>
                <div class="form-group mt-2">
                    <label for="name">Ad Soyad</label>
                    <input type="text" class="form-control" id="name" v-model="EditFullName">
                </div>
                <div class="form-group mt-2">
                    <label for="specialty">Bolum</label>
                    <select class="form-control" id="specialty" v-model="EditSelectedSpeciality">
                        <option value="">lutfen birini secin</option>
                        <option v-for="specialty in Specialties" :value="specialty.name">{{specialty.name}}</option>
                    </select>
                </div>
                <div class="form-group mt-2 position-relative">
                    <label for="edit-hobbies">Hobiler</label>
                    <input type="text" class="form-control" readonly id="edit-hobbies" v-on:click="EditShowHobbiesDropDown=true" placeholder="lufen hobilerinizi seciniz">
                    <button v-if="EditShowHobbiesDropDown===true" class="btn btn-close multi-select-close" v-on:click="EditShowHobbiesDropDown=false"></button>
                    <div v-if="EditShowHobbiesDropDown===true" class="border position-absolute w-100" style="background-color: white">
                        <div v-for="(hoby,i) in Hobbies" class="m-2 p-2 hoby-item cursor-pointer" v-bind:class="{'bg-primary':CheckExistHoby(hoby),'text-white':CheckExistHoby(hoby)}" v-on:click="UpdateEditSelectedHobbies(hoby)">
                            <span class="">{{hoby.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="class-teacher">Sinif Ogretmeni</label>
                    <select class="form-control" id="class-teacher" v-model="EditSelectedClassTeacher">
                        <option value="">lutfen birini secin</option>
                        <option v-for="classTeacher in ClassTeachers" :value="classTeacher.name">{{classTeacher.name}}</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label for="lead-teacher">Rehber Ogretmeni</label>
                    <select class="form-control" id="lead-teacher" v-model="EditSelectedLeadTeacher">
                        <option value="">lutfen birini secin</option>
                        <option v-for="leadTeacher in LeadTeachers" :value="leadTeacher.name">{{leadTeacher.name}}</option>
                    </select>
                </div>
                <div class="text-center m-2">
                    <button type="button" class="btn btn-warning" v-on:click="EditStudent">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" ref="StudentFormModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Ogrenci Form
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-column w-75">
                            <div class="form-group">
                                <label for="name"><span class="text-danger">*</span> Ad Soyad</label>
                                <input type="text" class="form-control" id="name" v-model="CreateFullName">
                            </div>
                            <div class="form-group">
                                <label for="specialty"><span class="text-danger">*</span> Bolum</label>
                                <select class="form-control" id="specialty" v-model="CreateSelectedSpeciality">
                                    <option value="">lutfen birini secin</option>
                                    <option v-for="specialty in Specialties" :value="specialty.name">{{specialty.name}}</option>
                                </select>
                            </div>
                            <div class="form-group position-relative">
                                <label for="create-hobbies"><span class="text-danger">*</span> Hobiler</label>
                                <input type="text" class="form-control" readonly id="create-hobbies" v-on:click="CreateShowHobbiesDropDown=true" placeholder="lufen hobilerinizi seciniz">
                                <button v-if="CreateShowHobbiesDropDown===true" class="btn btn-close multi-select-close" v-on:click="CreateShowHobbiesDropDown=false"></button>
                                <div v-if="CreateShowHobbiesDropDown===true" class="border position-absolute w-100" style="background-color: white">
                                    <div v-for="(hoby,i) in Hobbies" class="m-2 p-2 hoby-item cursor-pointer" v-bind:class="{'bg-primary':CreateSelectedHobbies.includes(hoby),'text-white':CreateSelectedHobbies.includes(hoby)}" v-on:click="UpdateCreateSelectedHobbies(hoby)">
                                        <span class="">{{hoby.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="class-teacher"><span class="text-danger">*</span> Sinif Ogretmeni</label>
                                <select class="form-control" id="class-teacher" v-model="CreateSelectedClassTeacher">
                                    <option value="">lutfen birini secin</option>
                                    <option v-for="classTeacher in ClassTeachers" :value="classTeacher.name">{{classTeacher.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="lead-teacher"><span class="text-danger">*</span> Rehber Ogretmeni</label>
                                <select class="form-control" id="lead-teacher" v-model="CreateSelectedLeadTeacher">
                                    <option value="">lutfen birini secin</option>
                                    <option v-for="leadTeacher in LeadTeachers" :value="leadTeacher.name">{{leadTeacher.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="SubmitCreateStudent" v-bind:disabled="SubmitStudentLoading || CheckCreateFormValidation()===false">
                        Kaydet
                        <i v-if="SubmitStudentLoading" class="spinner spinner-border text-light spinner-fit-size"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" v-on:click="HideAddStudentModal">Vazgec</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" ref="DeleteStudentFormModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Ogrenci Silme Form
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-column w-75">
                            <label for="delete-reason"></label>
                            <input type="text" id="delete-reason" class="form-control" v-model="DeleteReaseon">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" v-on:click="HideDeleteStudentModal">Vazgec</button>
                    <button type="button" class="btn btn-primary" v-on:click="SubmitDeleteStudent" v-bind:disabled="DeleteReaseon===''">
                        Sil
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: "#StudentsListTemplate",
            data: {
                StudentsList: [],
                Hobbies: [],
                ClassTeachers: [],
                LeadTeachers: [],
                Specialties: [],
                SearchQuery: "",
                FilterSelectedHobbies: [],
                FilterSelectedClassTeacher: "",
                FilterShowHobbiesDropDown: false,
                Pages: [],
                ActivePage: null,
                CreateShowHobbiesDropDown: false,
                CreateFullName: "",
                CreateSelectedHobbies: [],
                CreateSelectedSpeciality: "",
                CreateSelectedClassTeacher: "",
                CreateSelectedLeadTeacher: "",
                SubmitStudentLoading: false,
                EditShowHobbiesDropDown: false,
                EditStudentId: null,
                EditFullName: "",
                EditSelectedHobbies: [],
                EditSelectedSpeciality: "",
                EditSelectedClassTeacher: "",
                EditSelectedLeadTeacher: "",
                StudentCopy: null,
                DeleteReaseon: "",
                DeleteStudentId: null
            },
            mounted() {
                this.GetStudents();
                this.GetSpecialties();
                this.GetHobbies();
                this.GetClassTeachers();
                this.GetLeadTeachers();
            },
            methods: {
                GetStudents(pageNumber = 1) {
                    let filter = { SearchQuery: this.SearchQuery, Hobbies: this.FilterSelectedHobbies.map(h=>h.id.toString()), ClassTeacher: this.FilterSelectedClassTeacher, PageNumber: pageNumber, PageSize: 2 };
                    var that = this;
                    axios.post("/api/Student/FilterStudents", filter).then(res => {
                        if (res.data.status === "Success") {
                            that.StudentsList = res.data.data.students;
                            that.Pages = [];
                            for (let i = res.data.data.startPage; i <= res.data.data.endPage; i++) {
                                that.Pages = [...that.Pages, i];
                            }
                            that.ActivePage = res.data.data.activePage;
                            console.log(that.StudentsList);
                        }
                    }).catch(err => {
                        console.log(err);
                    });
                },
                GetSpecialties() {
                    var that = this;
                    axios.get(`/api/Specialty/GetAllSpecialties`).then(res => {
                        if (res.data.status === "Success") {
                            res.data.data.forEach(e => that.Specialties.push(e));
                        }
                    });
                },
                GetHobbies() {
                    var that = this;
                    axios.get(`/api/Hoby/GetAllHobbies`).then(res => {
                        if (res.data.status === "Success") {
                            res.data.data.forEach(e => that.Hobbies.push(e));
                        }
                    });
                },
                GetClassTeachers() {
                    var that = this;
                    axios.get(`/api/Teacher/GetAllClassTeachers`).then(res => {
                        if (res.data.status === "Success") {
                            res.data.data.forEach(e => that.ClassTeachers.push(e));
                        }
                    });
                },
                GetLeadTeachers() {
                    var that = this;
                    axios.get(`/api/Teacher/GetAllLeadTeachers`).then(res => {
                        if (res.data.status === "Success") {
                            res.data.data.forEach(e => that.LeadTeachers.push(e));
                        }
                    });
                },
                CheckExistHoby(hoby){
                    var hobyItem = this.EditSelectedHobbies.find(i => i.id === hoby.id);
                    if (hobyItem !== null && hobyItem !== undefined) {
                        return true;
                    }
                    return false;
                },
                UpdateEditSelectedHobbies(hoby) {
                    var hobyItem = this.EditSelectedHobbies.find(i => i.id === hoby.id);
                    if (hobyItem !== null && hobyItem !== undefined) {
                        console.log("include");
                        this.EditSelectedHobbies = this.EditSelectedHobbies.filter(h => h.id !== hoby.id);
                    } else {
                        console.log("not include");
                        this.EditSelectedHobbies.push(hoby);
                    }
                    console.log(this.EditSelectedHobbies);
                    const editSelectedHobbiesNames = [];
                    this.EditSelectedHobbies.forEach(h => editSelectedHobbiesNames.push(h.name));
                    document.getElementById("edit-hobbies").value = editSelectedHobbiesNames.join(",");
                    this.EditShowHobbiesDropDown = false;
                },
                UpdateCreateSelectedHobbies(hoby) {
                    if (this.CreateSelectedHobbies.includes(hoby)) {
                        this.CreateSelectedHobbies = this.CreateSelectedHobbies.filter(h => h !== hoby);
                    } else {
                        this.CreateSelectedHobbies.push(hoby);
                    }
                    const createSelectedHobbiesNames=[];
                    this.CreateSelectedHobbies.forEach(h => createSelectedHobbiesNames.push(h.name));
                    document.getElementById("create-hobbies").value = createSelectedHobbiesNames.join(",");
                    this.CreateShowHobbiesDropDown = false;
                },
                UpdateFilterSelectedHobbies(hoby) {
                    if (this.FilterSelectedHobbies.includes(hoby)) {
                        this.FilterSelectedHobbies = this.FilterSelectedHobbies.filter(h => h !== hoby);
                    } else {
                        this.FilterSelectedHobbies.push(hoby);
                    }
                    const filterSelectedHobbiesNames = [];
                    this.FilterSelectedHobbies.forEach(h => filterSelectedHobbiesNames.push(h.name));
                    document.getElementById("filter-hobbies").value = filterSelectedHobbiesNames.join(",");
                    this.FilterShowHobbiesDropDown = false;
                },
                ShowAddStudentModal() {
                    $(this.$refs.StudentFormModal).modal({ backdrop: 'static', keyboard: false });
                    $(this.$refs.StudentFormModal).modal('show');
                },
                HideAddStudentModal() {
                    $(this.$refs.StudentFormModal).modal('hide');
                },
                SubmitCreateStudent() {
                    let student = {
                        FullName: this.CreateFullName, Specialty: this.CreateSelectedSpeciality, Hobbies: this.CreateSelectedHobbies.map(h=>h.id.toString()),
                        ClassTeacher: this.CreateSelectedClassTeacher, LeadTeacher: this.CreateSelectedLeadTeacher
                    };
                    this.SubmitStudentLoading = true;
                    var that = this;
                    axios.post("/api/Student/CreateStudent", student).then(res => {
                        if (res.data.status === "Success") {
                            that.CreateFullName = "";
                            that.CreateSelectedSpeciality = "";
                            that.CreateSelectedHobbies = [];
                            that.CreateSelectedClassTeacher = "";
                            document.getElementById("create-hobbies").value = "";
                            that.CreateSelectedLeadTeacher = "";
                            that.SubmitStudentLoading = false;
                            that.HideAddStudentModal();
                            that.GetStudents();
                        }
                    }).catch(err => {
                        console.log(err);
                        that.SubmitStudentLoading = false;
                        that.ShowNotification(err.response.data, "#cf3e34");
                    });
                },
                CheckCreateFormValidation() {
                    if (this.CreateFullName === "" || this.CreateSelectedSpeciality === "" || this.CreateSelectedClassTeacher === "" ||
                        this.CreateSelectedLeadTeacher === "" || this.CreateSelectedHobbies.length === 0) {
                        return false;
                    } else {
                        return true;
                    }
                },
                ShowStudentDetails(student) {
                    this.EditStudentId = student.studentId;
                    this.EditFullName = student.fullName;
                    this.EditSelectedHobbies = JSON.parse(JSON.stringify(student.hobbies));
                    //student.hobbies.forEach(sh => this.EditSelectedHobbies.push(sh));
                    const editSelectedHobbiesNames = [];
                    this.EditSelectedHobbies.forEach(h => editSelectedHobbiesNames.push(h.name));
                    document.getElementById("edit-hobbies").value = editSelectedHobbiesNames.join(",");
                    this.EditSelectedSpeciality = student.specialty;
                    this.EditSelectedClassTeacher = student.classTeacher;
                    this.EditSelectedLeadTeacher = student.leadTeacher;
                    this.StudentCopy = {
                        FullName: this.EditFullName, Specialty: this.EditSelectedSpeciality, Hobbies: this.EditSelectedHobbies.map(h => h.id.toString()),
                        ClassTeacher: this.EditSelectedClassTeacher, LeadTeacher: this.EditSelectedLeadTeacher
                    };
                },
                EditStudent() {
                    let student = {
                        FullName: this.EditFullName, Specialty: this.EditSelectedSpeciality, Hobbies: this.EditSelectedHobbies.map(h => h.id.toString()),
                        ClassTeacher: this.EditSelectedClassTeacher, LeadTeacher: this.EditSelectedLeadTeacher
                    };
                    if (!this.CompareObjects(this.StudentCopy, student)) {
                        student.StudentId = this.EditStudentId;
                        var that = this;
                        axios.put("/api/Student/EditStudent", student).then(res => {
                            if (res.data.status === "Success") {
                                that.EditStudentId = null;
                                that.EditFullName = "";
                                that.EditSelectedSpeciality = "";
                                that.EditSelectedHobbies = [];
                                document.getElementById("edit-hobbies").value = "";
                                that.EditSelectedClassTeacher = "";
                                that.EditSelectedLeadTeacher = "";
                                console.log("edit");
                                that.GetStudents()
                            }
                        }).catch(err => {
                            console.log(err);
                            that.ShowNotification(err.response.data, "#cf3e34");
                        });
                    }
                },
                ShowDeleteStudentModal(student) {
                    $(this.$refs.DeleteStudentFormModal).modal({ backdrop: 'static', keyboard: false });
                    $(this.$refs.DeleteStudentFormModal).modal('show');
                    this.DeleteStudentId = student.studentId;
                },
                SubmitDeleteStudent() {
                    var deleteStudentDto = { StudentId: this.DeleteStudentId, DeleteReason: this.DeleteReaseon }
                    var that = this;
                    axios.put("/api/Student/DeleteStudent", deleteStudentDto).then(res => {
                        if (res.data.status === "Success") {
                            that.DeleteStudentId = null;
                            that.HideDeleteStudentModal();
                            setTimeout(function () {
                                that.GetStudents();
                            }, 2000);
                        }
                    }).catch(err => {
                        console.log(err);
                        that.HideDeleteStudentModal();
                        that.ShowNotification(err.response.data, "#cf3e34");
                    });
                },
                HideDeleteStudentModal() {
                    $(this.$refs.DeleteStudentFormModal).modal('hide');
                },
                Search() {
                    this.GetStudents();
                },
                GetHobbiesNames(hobbies){
                    const names=hobbies.map(e=>e.name);
                    return names.join(",");
                },
                ShowNotification(description, bgColor) {
                    Toastify({
                        text: description,
                        duration: 3000,
                        destination: "/Index",
                        newWindow: true,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "right", // `left`, `center` or `right`
                        backgroundColor: bgColor,
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        onClick: function () { } // Callback after click
                    }).showToast();
                },
                CompareObjects(obj1, obj2) {
                    const keys1 = Object.keys(obj1);
                    const keys2 = Object.keys(obj2);
                    if (keys1.length !== keys2.length) {
                        return false;
                    }
                    for (let key of keys1) {
                        if (obj1[key] !== obj2[key]) {
                            return false;
                        }
                    }
                    return true;
                }
            },
            watch: {

            }
        });
    </script>
}
