html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.border-radius-5 {
    border-radius: 5px;
}
.cursor-pointer {
    cursor: pointer !important;
}
.hoby-item:hover {
    background-color: lightgray;
}
.multi-select-close {
    margin-top: -32px !important;
    float: right !important;
    margin-right: 3px !important;
}
.spinner-fit-size {
    width: 15px;
    height: 15px;
    font-size: 10px;
}